{% extends "base.html.twig" %}

{% block title %}{{ page.title }}{% endblock title %}

{# ---- header -------------------------------------------------------------- #}
{% block pageHeader %}

    <div class="folder"></div>
    <div class="title">
        {% if page.titleImg is not empty %}
            <img src="data:image/png;base64, {{ page.titleImg.image }}" alt="{{ page.titleImg.title }}" />
        {% else %}
            {{ page.title }}
        {% endif %}
    </div>

    {% if page.content is empty %}
        <div class="description">
            {% if page.descriptionImg is not empty %}
                <img src="data:image/png;base64, {{ page.descriptionImg.image }}" alt="{{ page.descriptionImg.title }}" />
            {% else %}
                sem pojde popis
            {% endif %}
        </div>
        <div class="link">
            {% if page.parentPage is empty %}
                <a href="{{ url('page', {'page': 'home'}) }}" class="href">
                    <img src="{{ asset('build/images/text_index_02.gif') }}" alt="">
                </a>
            {% else %}
                <img src="{{ asset('build/images/text_home_02.gif') }}" alt="">
            {% endif %}
        </div>
    {% endif %}

{% endblock pageHeader %}
{# ---- end header ---------------------------------------------------------- #}

{# ---- content ------------------------------------------------------------- #}
{% block content %}

    {# ---- back button --------------------------------------------------------- #}
    {% if page.backImg is not empty %}
        <div
            class="back-img {% if page.backImgHover is not empty and page.parentPage is not empty %}is-link{% endif %} z-2"
            {{ stimulus_controller('hover') }}
        >
            <img
                src="data:image/png;base64, {{ page.backImg.image }}"
                alt="{{ page.backImg.title }}"
                {{ stimulus_target('hover', 'origin') }}
            />

            {% if page.backImgHover is not empty and page.parentPage is not empty %}
                <a href="{{ url('page', {'page': page.parentPage.urlKey}) }}">
                    <img
                        src="data:image/png;base64, {{ page.backImgHover.image }}"
                        alt="{{ page.parentPage.title }}"
                        class="hide"
                        {{ stimulus_target('hover', 'hover') }}
                    />
                </a>
            {% endif %}

        </div>
    {% endif %}
    {# ---- end back button ----------------------------------------------------- #}

    {# ---- content child pages ------------------------------------------------- #}
    {% if page.content is empty %}

        <div class="child-list">
            {% for i in range(1, 5) %}
                {% if not page.childPagesForRow(i).isEmpty %}
                    <div
                        class="row m-0"
                        {{ stimulus_controller('row-scroll') }}
                    >
                        <a
                            href="javascript:void(0)"
                            class="left-scroll hide"
                            {{ stimulus_action('row-scroll', 'leftScrolling') }}
                            {{ stimulus_target('row-scroll', 'left') }}
                        ></a>
                        <a
                            href="javascript:void(0)"
                            class="right-scroll hide"
                            {{ stimulus_action('row-scroll', 'rightScrolling') }}
                            {{ stimulus_target('row-scroll', 'right') }}
                        ></a>
                        <div class="scroll-container overflow-hidden position-relative p-0">
                            <div
                                class="row-scroller position-relative"
                                {{ stimulus_target('row-scroll', 'row') }}
                            >
                                {% for child in page.childPagesForRow(i) %}
                                    <div
                                        class="child-page position-relative z-3"
                                        {{ stimulus_controller('hover') }}
                                        {{ stimulus_target('row-scroll', 'item') }}
                                    >
                                        {% if child.buttonImg is not empty %}
                                            <img
                                                src="data:image/png;base64, {{ child.buttonImg.image }}"
                                                alt="{{ child.title }}"
                                                {{ stimulus_target('hover', 'origin') }}
                                            />
                                        {% endif %}
                                        {% if child.buttonImgHover is not empty %}
                                            {% if child.externalLink is null %}
                                                <a href='{{ url('page', {'page': child.urlKey}) }}'>
                                                    <img
                                                        src="data:image/png;base64, {{ child.buttonImgHover.image }}"
                                                        alt="{{ child.title }}"
                                                        class="hide"
                                                        {{ stimulus_target('hover', 'hover') }}
                                                    />
                                                </a>
                                            {% else %}
                                                <a href='{{ child.externalLink }}' target="_blank">
                                                    <img
                                                        src="data:image/png;base64, {{ child.buttonImgHover.image }}"
                                                        alt="{{ child.title }}"
                                                        class="hide"
                                                        {{ stimulus_target('hover', 'hover') }}
                                                    />
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        {# ---- content image ------------------------------------------------------- #}

        {% if page.gallery is not empty %}
            <a href="{{ url('page-gallery', {'page': page.urlKey}) }}" class="gallery"></a>
        {% endif %}
        <img src="data:image/png;base64, {{ page.content.image }}" alt="{{ page.title }}" class="origin" />

    {% endif %}
    {# ---- end content --------------------------------------------------------- #}

{% endblock content %}
{# ---- end content --------------------------------------------------------- #}

{% block backButton %}

    {% if page.parentPage is not empty %}
        {% if page.parentPage.parentPage is empty %}
            <a href="{{ url('page', {'page': page.parentPage.urlKey}) }}" class="back-button"></a>
        {% else %}
            <a href="{{ url('page', {'page': constant('\\App\\Entity\\Page::HOME_URL_KEY')}) }}" class="back-button"></a>
        {% endif %}
    {% endif %}

{% endblock backButton %}
