{% extends 'bootstrap_4_layout.html.twig' %}

{% block form_label_errors %}{% endblock form_label_errors %}
{# -------------------------------------------------------------------------- #}
{% block form_row %}
    <div class="form-group {% if errors is not empty %}has-error{% endif %}">
        <div class="col-sm-2 text-right">
            {{ form_label(form) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}
{# -------------------------------------------------------------------------- #}
{% block form_start %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}" novalidate {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endblock form_start %}
{# -------------------------------------------------------------------------- #}
{% block form_errors %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
        <li class="">
            <span class="help-block text-bold">
                {{ error.message|trans({},'messages') }}
            </span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock form_errors %}
