{% extends "MonterArtBundle:Default:layout.html.twig" %}

{% block body -%}
<div class="container">
    <div class="page-header">
        <h1>Úprava obrázka <small>{{ entity.title }}</small></h1>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ path('admin_gallery_list', { 'pageId' : entity.page.id }) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-th-list"></span> späť
            </a>
            <a href="{{ path('logout') }}" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-out"></span> odhlásiť
            </a>
        </div>
    </div>

    {{ form(edit_form, { 'attr' : {'role' : 'form', 'class' : 'form-horizontal' } } ) }}

    {% if entity.image is not empty %}
    <div class="text-center admin-image-preview">
        <img src="data:image/png;base64, {{ entity.image.image }}" alt="{{ entity.title }}" />
    </div>
    {% endif %}
</div>
{% endblock %}