<div class="child-list">
{% for i in range(1, 5) %}
    {% if not page.childPagesForRow(i).isEmpty %}
    <div class="row">
        <div class="scroll-container" style="margin: 0 0 0 5px; overflow: hidden; position: relative;">
            <div class="row-scroller">
                {% for child in page.childPagesForRow(i) %}
                <div class="child-page toggle-on-hover">
                    {% if child.buttonImg is not empty %}
                    <img src="data:image/png;base64, {{ child.buttonImg.image }}" alt="{{ child.title }}" class="origin" />
                    {% endif %}
                    {% if child.buttonImgHover is not empty %}
                    <a href='{{ path('page', { 'page' : child.urlkey }) }}'>
                        <img src="data:image/png;base64, {{ child.buttonImgHover.image }}" alt="{{ child.title }}" class="hover hide" />
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>