{% extends "MonterArtBundle:Default:layout.html.twig" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block pageHeader %}
    <div class="folder"></div>
    <div class="title">
    {% if page.titleImg is not empty %}
        <img src="data:image/png;base64, {{ page.titleImg.image }}" alt="{{ page.titleImg.title }}" />
    {% else %}
        {{ page.title }}
    {% endif %}
    </div>
    <div class="description">
    {% if page.descriptionImg is not empty %}
        <img src="data:image/png;base64, {{ page.descriptionImg.image }}" alt="{{ page.descriptionImg.title }}" />
    {% else %}
        sem pojde popis
    {% endif %}
    </div>
    <div class="link">
        {% if page.parentPage is empty %}
        <a href="{{ path('page', { 'page' : 'home' }) }}" class="href">
            <img src="{{ asset('bundles/monterart/images/text_index_02.gif') }}" alt="">
        </a>
        {% else %}
        <img src="{{ asset('bundles/monterart/images/text_home_02.gif') }}" alt="">
        {% endif %}
    </div>
{% endblock pageHeader %}

{% block content %}

{# ---- back button --------------------------------------------------------- #}
    {% if page.backImg is not empty %}
        <div class="back-img {% if page.backImgHover is not empty and page.parentPage is not empty %}is-link{% endif %}">
            <img src="data:image/png;base64, {{ page.backImg.image }}" alt="{{ page.backImg.title }}" class="origin" />

            {% if page.backImgHover is not empty and page.parentPage is not empty %}
            <a href='{{ path('page', { 'page' : page.parentPage.urlkey }) }}'>
                <img src="data:image/png;base64, {{ page.backImgHover.image }}" alt="{{ page.parentPage.title }}" class="hover hide" />
            </a>
            {% endif %}

        </div>
    {% endif %}
{# ---- end back button ----------------------------------------------------- #}

{# ---- content child pages ------------------------------------------------- #}
    {% if page.content is empty %}

        <div class="child-list">

        {% for i in range(1, 9) %}

            {% if not page.childPagesForRow(i).isEmpty %}

            <div class="row">

                {% for child in page.childPagesForRow(i) %}

                <div class="child-page toggle-on-hover">

                    {% if child.buttonImg is not empty %}
                    <img src="data:image/png;base64, {{ child.buttonImg.image }}" alt="{{ child.title }}" class="origin" />
                    {% endif %}

                    {% if child.buttonImgHover is not empty %}
                    <a href='{{ path('page', { 'page' : child.urlkey }) }}'>
                        <img src="data:image/png;base64, {{ child.buttonImgHover.image }}" alt="{{ child.title }}" class="hover hide" />
                    </a>
                    {% endif %}

                </div>

                {% endfor %}

            </div>

            {% endif %}

        {% endfor %}

        </div>

    {% else %}
{# ---- content image ------------------------------------------------------- #}

    <img src="data:image/png;base64, {{ page.content.image }}" alt="{{ page.title }}" class="origin" />

    {% endif %}
{# ---- end content --------------------------------------------------------- #}

{% endblock content %}

{% block backButton %}

    {% if page.parentPage is not empty %}
    <a href="{{ path('page', { 'page' : page.parentPage.urlKey } ) }}" class="back-button"></a>
    {% endif %}

{% endblock backButton %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.child-page, .back-img.is-link').hover(
                function() {
                    $(this).find('.origin').toggleClass('hide');
                    $(this).find('.hover').toggleClass('hide');
                },
                function() {
                    $(this).find('.origin').toggleClass('hide');
                    $(this).find('.hover').toggleClass('hide');
                }
            );
        });
    </script>
{% endblock javascripts %}

