{% extends "admin/admin.html.twig" %}

{% block adminTitle %}Galéria <small>{{ page.title }}</small>{% endblock %}

{% block adminActions %}
	{{ parent() }}
	<a href="{{ path('admin_gallery_create', {'pageId': pageId}) }}" class="btn btn-outline-dark">
		<i class="bi bi-card-image"></i> pridaj obrázok
	</a>
{% endblock %}

{% block adminContent %}
	{% for gallery in page.gallery %}
		<div class="card mb-2">
			<div class="card-header">
				<div class="row">
					<div class="col">
						Titulka: <strong>{{ gallery.title }}</strong>
					</div>
					<div class="col">
						Url klúč: <strong>{{ gallery.urlKey }}</strong>
					</div>
					<div class="col text-end">
						<div class="btn-group btn-group-sm">
							<a href="{{ path('admin_gallery_edit', {'id': gallery.id}) }}" class="btn btn-success">
								<i class="bi bi-pencil-square"></i> uprav
							</a>
							<a href="{{ path('admin_gallery_delete', {'id': gallery.id}) }}" class="btn btn-danger">
								<i class="bi bi-trash-fill"></i> zmaž
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body">
				{% if gallery.image is not empty %}
					<div class="text-center background p-5">
						<img src="data:image/png;base64, {{ gallery.image.image }}" alt="{{ gallery.title }}" class="" />
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock adminContent %}
