{% extends "::base.html.twig" %}

{% block title %}Monter{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/monterart/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/monterart/css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/monterart/css/main.css') }}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/monterart/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/monterart/js/bootstrap.min.js') }}"></script>
{% endblock javascripts %}

{% block body %}
<div class="container">
    <div class="header">
    {% block pageHeader %}
    {% endblock pageHeader %}
    </div>
    <div class="content">
    {% block content %}

    {% endblock content %}
    </div>
    {% block backButton %}
    {% endblock backButton %}
</div>
{% endblock body %}