{% extends "MonterArtBundle:Default:layout.html.twig" %}

{% block body -%}
<div class="container">
    <div class="page-header">
        <h1>Úprava stránky <small>{{ entity.title }}</small></h1>
    </div>

    <div class="pull-right">
        <div class="btn-group">
            <a href="{{ path('admin_page') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-th-list"></span> zoznam
            </a>
            <!-- Button trigger modal -->
            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-trash"></span> zmaž
            </button>
            <a href="{{ path('logout') }}" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-out"></span> odhlásiť
            </a>
        </div>
    </div>

    {{ form(edit_form, { 'attr' : {'role' : 'form', 'class' : 'form-horizontal' } } ) }}

    {% for typ, data in entity.pageImages %}
    <div class="row admin-page-images">
        <div class="col-sm-2 text-right text-bold">
            {% set name = 'image.type.' ~ typ %}
            {{ name|trans({},'messages') }}
        </div>
        <div class="col-sm-10">
            <div class="btn-group">
                {% if data.isSet %}
                <a class="btn btn-success btn-xs" href="{{ path('admin_image_edit', { 'id' : data.id, 'pageId' : entity.id }) }}">
                    uprav
                </a>
                <a class="btn btn-danger btn-xs" href="{{ path('admin_image_delete', { 'id' : data.id, 'pageId' : entity.id, 'type' : typ }) }}">
                    zmaz
                </a>
                {% else %}
                <a class="btn btn-success btn-xs" href="{{ path('admin_image_new', { 'pageId' : entity.id, 'type' : typ }) }}">
                    pridaj
                </a>
                {% endif %}
            </div>
            {% if data.isSet %}
            <div>
                <img src="data:image/png;base64, {{ data.data }}" alt="{{ data.title }}" />
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Pozor!</h4>
                </div>
                <div class="modal-body">
                    Pri zmazaní stránky sa zmažú aj všetky podstránky a obrazky v nich!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Zatvor</button>
                    <a href="{{ path('admin_page_delete', { 'id' : entity.id } ) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> zmaž
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
